 {% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block layout_style %}
   <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 1.2cm;
            margin-right: 1cm;
            margin-top: 5.0cm;
            margin-bottom: 2.5cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1.5cm;
                margin-right: 0.5mm;
                margin-bottom: 1cm;
                margin-left: 0.5mm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}

    <style type="text/css">
        @font-face { font-family: "gothicb"; src: url("{% static 'fonts/gothicb.ttf' %}"); }
        @font-face { font-family: "century"; src: url("{% static 'fonts/century.ttf' %}"); }

        .page_title h1{
            font-family:"gothicb";
            font-size: 16px;
            text-align: center;
        }

        .header h3{
            font-family:"gothicb";
            font-size: 18px;
            padding-top: -10px;
            padding-bottom: -10px;
            color: #0f0f0f;
            /*text-align: center;*/
        }

        .header h5{
            font-size: 10px;
            padding: -10px;
            /*text-align: center;*/
        }

        .header_documento th{
            padding-top: 5px;
            padding-bottom: 2px;
            font-size: 14px;
            color: #0f0f0f;
            background-color: beige;
        }

        .header_documento td{
            font-size: 14px;
        }

        html{
            font-family:"century";
            font-size: 10px;
        }

        .item{
            color: #0f0f0f;
            font-style: italic;
        }


        .text-center{
            text-align: center;
        }

        .text-left{
            text-align: left;
        }

        /*p {*/
            /*margin: 0 0 6px 0;*/
            /*font-size: 11pt;*/
        /*}*/
        table {
            line-height: 140%;
            width: 100%;
        }
        table.bordered {
            border: 0.1pt solid #0f0f0f;
            /*border-bottom: 0.1pt solid #999999;*/
        }
        /*tr, td, th { border: none; }*/
        th {
            /*border-bottom: 0.1pt solid #999999;*/
            margin: 10px;
            padding-top: 2.5px;
            font-family:"gothicb";
        }
        td {
            vertical-align: middle;
            margin: 10px;
            padding-top: 2.5px;
            text-align: center;

        }
        td:last-child { padding-bottom: 0; }
        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 20px; margin-left: -25px; }
        .logo img { zoom: 60%; }
        .recipient { margin-left: 7cm; }
        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
        }
        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
        }
        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }
    </style>
{% endblock %}

{%block page_header%}
    <div id="page-header">
        <div class="header">
            <table>
                <tr>
                    <td style="width: 25%">
                    </td>
                    <td style="width: 40%">
                        
                        <h3 class="text-left">Bienvenido al Mercado {{documento.markets}}</h3>
                        <h5 class="text-left"></h5>
                        <h2 class="text-left">Pase Generado Nro {{documento.count_aforo}}</h2>

                    </td>
                    <td style="width: 30%; border: 2pt solid #0f0f0f">
                        <table class="header_documento">
                            <tr>
                                <td>Dirección:</td>
                            </tr>
                            <tr>
                                <th>{{documento.markets.address}}</th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">

      <section>
          <table>
            
              <tr>
                  <th style="width: 15%">Nombre completo:</th>
                  <td style="width:55%; border-bottom: 1px solid #0f0f0f" class="text-left">{{documento.market_pass_requests.last.client.full_name}}</td>
              </tr>
              <tr>
                  <th style="width: 15%">D.N.I:</th>
                  <td style="width:55%; border-bottom: 1px solid #0f0f0f"  class="text-left">{{documento.market_pass_requests.last.client.dni}}</td>
              </tr>
              <tr>
                  <th style="width: 15%">Hora de ingreso y salida:</th>
                  <td style="width:55%; border-bottom: 1px solid #0f0f0f"  class="text-left">{{documento.schedule}}</td>
              </tr>
          </table>
      </section>
    </div>
{% endblock %}


             
